.friendListContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 250px;
  margin: 20px auto;
  padding: 20px;
  background-image: linear-gradient(150deg, #a767e5, #12bcfe);
  background-size: 100% 100%;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.9);
  border: 5px solid transparent;
  border-image: linear-gradient(
      125deg,
      #5ddcff,
      #3c67e3 43%,
      #4e00c2,
      #4fcf70,
      #fad648,
      #a767e5,
      #12bcfe,
      #44ce7b
    )
    1;
  border-radius: 8px;
}

.friendAvatar {
  width: 100px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
}

.online {
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 128, 0);
  text-shadow: 0 0 1px rgba(9, 1, 78, 0.5);
}

.offline {
  font-size: 18px;
  font-weight: 500;
  color: rgb(128, 0, 0);
  text-shadow: 0 0 1px rgba(9, 1, 78, 0.5);
}
