.table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px auto 50px;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.9);
}

.thead {
  background-color: #4caf50;
  color: white;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.th,
.td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #707070;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

.td {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: blue;
}

.even {
  background-color: #f2f2f2 !important;
}

.odd {
  background-color: #ffffff !important;
}

tbody tr.even td {
  background-color: rgba(189, 185, 185, 0.74);
}

tbody tr.odd td {
  background-color: #ffffff;
}

tbody tr:hover td {
  background-color: rgba(18, 187, 254, 0.6) !important;
  transition: background-color 0.25ms ease;
  border-bottom: 2px solid green;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}
